# Enable the rewrite engine
RewriteEngine On

# Redirect all HTTP requests to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Redirect all requests to https://rfidgpms.com
RewriteCond %{HTTP_HOST} !^rfidgpms\.com$ [NC]
RewriteRule ^(.*)$ https://rfidgpms.com/$1 [R=301,L]

# Disable directory listing
Options -Indexes

# Protect the .htaccess file
<Files ".htaccess">
    Require all denied
</Files>